* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Rajdhani',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply border-4 border-orange-500 px-7 py-2 uppercase font-semibold
  }

  .btn-secondary {
    @apply bg-orange-500 px-7 py-3 text-white uppercase font-semibold
  }
}
